*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

@font-face {
  font-family: "Happiness-Sans-Regualr17";
  src: url(../fonts/hint/Happiness-Sans-Regualr17.otf);
  src: url(../fonts/hint/Happiness-Sans-Regualr17.woff) format(woff);
  src: local(※),
    url(../fonts/hint/Happiness-Sans-Regualr17.woff2) format("woff2");
}
@font-face {
  font-family: "Happiness-Sans-Bold17";
  src: url(../fonts/hint/Happiness-Sans-Bold17.otf);
  src: url(../fonts/hint/Happiness-Sans-Bold17.woff) format(woff);
  src: local(※),
    url(../fonts/hint/Happiness-Sans-Bold17.woff2) format("woff2");
}
@font-face {
  font-family: "Happiness-Sans-Title17";
  src: url(../fonts/hint/Happiness-Sans-Title17.otf);
  src: url(../fonts/hint/Happiness-Sans-Title17.woff) format(woff);
  src: local(※),
    url(../fonts/hint/Happiness-Sans-Title17.woff2) format("woff2");
}
@font-face {
  font-family: "Happiness-Sans-Regualr18";
  src: url(../fonts/no-hint/Happiness-Sans-Regualr18.otf);
  src: url(../fonts/no-hint/Happiness-Sans-Regualr18.woff) format(woff);
  src: local(※),
    url(../fonts/no-hint/Happiness-Sans-Regualr18.woff2) format("woff2");
}
@font-face {
  font-family: "Happiness-Sans-Bold18";
  src: url(../fonts/no-hint/Happiness-Sans-Bold18.otf);
  src: url(../fonts/no-hint/Happiness-Sans-Bold18.woff) format(woff);
  src: local(※),
    url(../fonts/no-hint/Happiness-Sans-Bold18.woff2) format("woff2");
}
@font-face {
  font-family: "Happiness-Sans-Title18";
  src: url(../fonts/no-hint/Happiness-Sans-Title18.otf);
  src: url(../fonts/no-hint/Happiness-Sans-Title18.woff) format(woff);
  src: local(※),
    url(../fonts/no-hint/Happiness-Sans-Title18.woff2) format("woff2");
}
@font-face {
  font-family: "HappinessSansVF19";
  src: url(../fonts/vf/HappinessSansVF19.ttf);
  src: url(../fonts/vf/HappinessSansVF19.woff) format(woff);
  src: local(※), url(../fonts/vf/HappinessSansVF19.woff2) format("woff2-variations");
  font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg;
  font-weight: 400 900;
}

:root {
  --text-weight: 500;
  --text-width: 100;
  --text-slant: 0;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 16px;
  }
}

body {
  padding: 6rem 2rem;
  font-size: 1rem;
  line-height: 1.65;
  word-break: keep-all;
  white-space: normal;

  max-width: 95%;
}

article {
  max-width: 100%;
  margin: 0 auto;
}

article * {
  margin-bottom: 0rem;
}

article footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

article p {
  margin: 12rem 0;
}

header {
  position: fixed;
  width: 100vw;
  top: 1rem;
  margin-left: -1rem;
  color: purple;
}

em::before {
  content: "「";
  margin-left: -0.5rem;
}

em::after {
  content: "」";
  margin-right: -0.5rem;
}

sup {
  position: relative;
  font-size: 0.5rem;
  bottom: 1ex;
}


nav {
  position: absolute;
  z-index: 999;
  top: 3rem;
  left: 1rem;
}

@media screen and (max-width: 720px) {
  article p {
    margin-top: 16rem;
  }

  nav {
    top: 6rem;
  }
}

iframe {
  display: none;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, 0);
  overflow: hidden;
  border: 0;
}

h1,
h2,
h3,
h4,
h5 {
  width: 160px;
  display: inline-block;
  cursor: pointer;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  text-decoration: underline;
}

a {
  padding-right: 1rem;
  display: inline-block;
  text-decoration: none;
  color: purple;
}

a:hover {
  text-decoration: underline;
}

.hint-regular-12px {
  font-family: "Happiness-Sans-Regualr17";
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.hint-regular-16px {
  font-family: "Happiness-Sans-Regualr17";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.hint-regular-19px {
  font-family: "Happiness-Sans-Regualr17";
  font-size: 19px;
  margin-bottom: 1rem;
}
.hint-regular-32px {
  font-family: "Happiness-Sans-Regualr17";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hint-regular-64px {
  font-family: "Happiness-Sans-Regualr17";
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hint-bold-12px {
  font-family: "Happiness-Sans-Bold17";
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.hint-bold-16px {
  font-family: "Happiness-Sans-Bold17";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.hint-bold-19px {
  font-family: "Happiness-Sans-bold17";
  font-size: 19px;
  margin-bottom: 1rem;
}
.hint-bold-32px {
  font-family: "Happiness-Sans-Bold17";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hint-bold-64px {
  font-family: "Happiness-Sans-Bold17";
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hint-title-12px {
  font-family: "Happiness-Sans-Title17";
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.hint-title-16px {
  font-family: "Happiness-Sans-Title17";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.hint-title-19px {
  font-family: "Happiness-Sans-Title17";
  font-size: 19px;
  margin-bottom: 1rem;
}
.hint-title-32px {
  font-family: "Happiness-Sans-Title17";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hint-title-64px {
  font-family: "Happiness-Sans-Title17";
  font-size: 4rem;
  margin-bottom: 1rem;
}

.no-hint-regular-12px {
  font-family: "Happiness-Sans-Regualr18";
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.no-hint-regular-16px {
  font-family: "Happiness-Sans-Regualr18";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.no-hint-regular-19px {
  font-family: "Happiness-Sans-Regualr18";
  font-size: 19px;
  margin-bottom: 1rem;
}
.no-hint-regular-32px {
  font-family: "Happiness-Sans-Regualr18";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.no-hint-regular-64px {
  font-family: "Happiness-Sans-Regualr18";
  font-size: 4rem;
  margin-bottom: 1rem;
}

.no-hint-bold-12px {
  font-family: "Happiness-Sans-Bold18";
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.no-hint-bold-16px {
  font-family: "Happiness-Sans-Bold18";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.no-hint-bold-19px {
  font-family: "Happiness-Sans-Bold18";
  font-size: 19px;
  margin-bottom: 1rem;
}
.no-hint-bold-32px {
  font-family: "Happiness-Sans-Bold18";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.no-hint-bold-64px {
  font-family: "Happiness-Sans-Bold18";
  font-size: 4rem;
  margin-bottom: 1rem;
}
.no-hint-title-12px {
  font-family: "Happiness-Sans-Title18";
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.no-hint-title-16px {
  font-family: "Happiness-Sans-Title18";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.no-hint-title-19px {
  font-family: "Happiness-Sans-Title18";
  font-size: 19px;
  margin-bottom: 1rem;
}
.no-hint-title-32px {
  font-family: "Happiness-Sans-Title18";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.no-hint-title-64px {
  font-family: "Happiness-Sans-Title18";
  font-size: 4rem;
  margin-bottom: 1rem;
}

.vf-12px {
  font-family: "HappinessSansVF19";
  font-size: 0.75rem;
  font-stretch: var(--text-width);
  font-style: oblique var(--text-slant);
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight), "wdth" var(--text-width), "slnt" var(--text-slant);
  margin-bottom: 1rem;
}
.vf-16px {
  font-family: "HappinessSansVF19";
  font-size: 1rem;
  margin-bottom: 1rem;
}
.vf-19px {
  font-family: "HappinessSansVF19";
  font-size: 19px;
  margin-bottom: 1rem;
}
.vf-32px {
  font-family: "HappinessSansVF19";
  font-size: 2rem;
  margin-bottom: 1rem;
}
.vf-64px {
  font-family: "HappinessSansVF19";
  font-size: 4rem;
  font-stretch: var(--text-width);
  font-style: oblique var(--text-slant);
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight), "wdth" var(--text-width), "slnt" var(--text-slant);
  margin-bottom: 1rem;
}
